body{ background:#f1f1f1;font-family: "微软雅黑", "黑体", "宋体", Arial;}
h1 { font-size: 48px;}
h2 { font-size: 30px;}
h3 { font-size: 24px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}

h1, h2, h3, h4, h5, h6 {
    font-family: "微软雅黑", "黑体", "宋体", Arial;
    font-weight: 300;
    font-style: normal;
}


.parallax {
	background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../images/newsbg.jpg);
}


.page-title {
	text-align: center;
	margin-bottom: 50px;
}

.page-title .title {
	color: #fff;
    font-family: "微软雅黑", "黑体", "宋体", Arial;
	margin: 0;
}

.page-title {
	padding-top: 80px;
	padding-bottom: 50px;
}

.page-title .subtitle {
    font-size: 18px;
    font-style: italic;
    font-family: "微软雅黑", "黑体", "宋体", Arial;
    color: #fff;
    margin:  0 0 39px 0 ;
}



.breadcrumbs {
    font-family: "微软雅黑", "黑体", "宋体", Arial;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    margin: 90px 50px 0px 50px ;
}

.breadcrumbs > p {
	float: left;
	margin: 0 5px;
}

.breadcrumbs ul li {
	display: inline-block;
	float: left;
	margin: 0 5px;
}

.breadcrumbs ul li a {
	color: #fff;
}


.news{ margin-top: 50px; background: #fff; overflow: hidden; padding-top: 50px;}
.news-left{ float:left; width:810px; margin-right:55px; overflow:hidden }
.news-right{float:left; width:255px;}


.entry {
	overflow: hidden;
}

.bot50 {
	margin-bottom: 50px;
}

.entry a img {
	-webkit-transition: all 0.3s ease-in-out; 
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
     		transition: all 0.3s ease-in-out;
}

.entry a:hover img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
    		transform: scale(1.1);
    -webkit-filter: blur(2px);
        -ms-filter: blur(2px);
         -o-filter: blur(2px);
    		filter: blur(2px);
}




.entry .feature-post {
	width:800px;
	height:400px;
	margin-bottom: 30px;
	overflow: hidden;
}

 .entry .feature-post .flexslider {
	margin-bottom: 0;
}

 .entry .feature-post a { overflow: hidden;}

 .entry .entry-title {	margin: 0 0 10px 0;}
 .entry .entry-title a { color:#666}
 .entry .entry-title a:hover {color: #2d5aae;}

 .entry .entry-meta {
    color: #ccc;
    margin-bottom: 15px;
}
.entry .entry-meta span{ margin:0 20px}
.entry .entry-meta a{color: #2d5aae; margin-left:10px}
.entry .entry-content {	margin-bottom: 15px; line-height:26px; color: #999}



 .widget-title {
    font-size: 18px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #666666;
    padding-bottom: 7px;
    display: inline-block;
}

.widget.widget-recentpost ul {
	overflow: hidden;
}

.widget.widget-recentpost ul li {
	float: left;
	padding: 15px 0;
}

.widget.widget-recentpost ul li:first-child {
	padding-top: 0;
}

.widget.widget-recentpost ul li:last-child {
	padding-bottom: 0;
}

.widget.widget-recentpost ul li .thumb {
	float: left;
	margin-right: 15px;
	overflow: hidden;
}

.widget.widget-recentpost ul li .text {
	overflow: hidden;
}

.widget.widget-recentpost ul li .text h6 {
	font-size: 1em;
	margin: 0 0 5px 0;
}
.widget.widget-recentpost ul li .text h6 a:hover {color: #2d5aae;}

.widget.widget-recentpost ul li .text .entry-time {
	font-family: "微软雅黑", "黑体", "宋体", Arial;
    color: #ccc;
    font-size: 13px;
}

.widget.widget_category { margin-top:60px}
.widget.widget_category ul li {
    list-style: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.widget.widget_category ul li:first-child {
    padding-top: 0;
}

.widget.widget_category ul li:last-child {
	border-bottom: none;
    padding-bottom: 0;
}

.widget.widget_category a:hover{color: #2d5aae;}


.news-left .cont{width:810px; font-size:16px; line-height:26px; padding:0 5px;}
.news-left .cont p{ padding:10px 0}
.news-left .cont img{padding:20px 0; margin:0 auto;}
.news-left .cont .title{ text-align:center; padding-bottom:30px}
.news-left .cont .entry-meta{color: #ccc; margin-bottom: 35px;text-align:center; font-size:13px}
.news-left .cont .entry-meta span{ padding:0 10px}

/*css 列表页码样式*/
div.page{clear:both;padding:3px;font-size:1em;margin:60px 3px;font-family:tahoma,helvetica,sans-serif;text-align:center;}
div.page a{border:#ccdbe4 1px solid;padding:6px 12px;background-position:50% bottom;color:#0061de;margin:0 3px 0 0;text-decoration:none;}
div.page a:hover{border:#2b55af 1px solid;background-image:none;color:#fff;background-color:#3666d4;}
div.page a:active{border:#2b55af 1px solid;background-image:none;color:#fff;background-color:#3666d4;}
div.page span.current{padding:2px 6px;font-weight:bold;color:#000;margin:0 3px 0 0;}
div.page span.disabled{display:none;}
div.page a.next{border:#ccdbe4 2px solid;margin:0px 0px 0px 10px;}
div.page a.next:hover{border:#2b55af 2px solid;}
div.page a.prev{border:#ccdbe4 2px solid;margin:0px 10px 0px 0px;}
div.page a.prev:hover{border:#2b55af 2px solid;}